# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Distribution / packaging
*.egg
*.egg-info/
.eggs/
dist/
build/
develop-eggs/
.installed.cfg
*.manifest
*.spec

# Virtual environments
venv/
env/
.venv/
.env/

# Testing
.coverage
.tox/
.nox/
.cache/
pytest_cache/
htmlcov/

# Logs
*.log

# Movies
backend/movies/
backend/posters/